<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>LoginForm Page</title>
</head>
<body>

    <h1>로그인 페이지</h1>
    <hr/>

    <div>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username"></br>
            <input type="password" name="password" placeholder="Password"></br>
            <button>로그인</button>
        </form>
    </div>
    <hr/>
    <div>
        <a href="/oauth2/authorization/google"><h3>구글 로그인</h3></a>
        <a href="/oauth2/authorization/facebook"><h3>페이스북 로그인</h3></a>
        <a href="/oauth2/authorization/naver"><h3>네이버 로그인</h3></a>
        <a href="/joinForm"><h3>회원가입</h3></a>
        <a href="/"><h3>인덱스</h3></a>
    </div>

</body>
</html>